# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# python3.6 virtual environment
venv/

parser.out
parsetab.py
